# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
lib
lib64
.idea/Parking-lot-management-project.iml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
Parking_lot_management/.idea/
