
<!DOCTYPE HTML>
<html>
	<head>
			{% load staticfiles %}
			<div class="topnav">
				<a href="/profile">My Profile</a>
				<a href="/home">Home</a>
				<a href="/bookings">My Bookings</a>				
			</div>
		<title>{{customer.firstname}} {{customer.lastname}}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'profile/assets/css/main.css'%}" />
		<link rel="stylesheet" href="{% static '/login/keypad/navbar.css' %}"/>
		<noscript><link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
        {% if no_reservation%}
        <div class="content" align="center">
							<h3>Hey {{customer.firstname}} {{customer.lastname}}, you are yet to do your first booking!</h3>
                        <a href="/home" class="button big wide smooth-scroll-middle">Go to Home</a>
						</div>
        {%endif%}
        {% if not no_reservation%}
			<table id="datatable" class="table table-hover table-striped table-bordered">
        <thead>
            <th>Username</th>
            <th>Booking Date</th>
            <th>Start Time</th>
            <th>Total Duration</th>
            <th>Is Active</th>
            <th>Cost</th>
        </thead>
        <tbody>
            {% for item in reservation %}
                <tr>

                        <td>{{ customer.firstname }}</td>
                        <td>{{ item.booking_date }}</td>
                        <td>{{ item.start_time_stamp }}</td>
                        <td> 1</td>
                        <td> {{item.is_active}}</td>
                        <td>{{item.cost_per_hour}}</td>


                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
		<!-- Scripts -->
			<script src="{% static 'profile/assets/js/jquery.min.js'%}"></script>
			<script src="{% static 'profile/assets/js/jquery.scrollex.min.js'%}"></script>
			<script src="{% static 'profile/assets/js/jquery.scrolly.min.js'%}"></script>
			<script src="{% static 'profile/assets/js/browser.min.js'%}"></script>
			<script src="{% static 'profile/assets/js/breakpoints.min.js'%}"></script>
			<script src="{% static 'profile/assets/js/util.js'%}"></script>
			<script src="{% static 'profile/assets/js/main.js'%}"></script>
							

	</body>
</html>