{% extends 'base.html' %}

{% block title %}
Parking system|
{% endblock %}
{% load staticfiles %}
{% block content %}
<div id="sitebg" style="width:100%;height: 110%; text-align: center;margin: 0 auto;position: absolute;"></div>
<div>
    <div id="windows1">
        <div style="height: 50px;"></div>
        <div id="loginbox" style=" border: 1px solid #f1f1f1;background-color: rgba(0,0,0, 0.4); padding: 20px;">

            <h1 style="color:white ; margin-bottom: 50px;"> Confirm your Booking </h1>
            <!-- {% for rate in rates %}
            <h4>  {{ rate.pay_per_time }}</h4>
             {% endfor %} -->
            <table class="table">

                <tbody>
                <tr>
                    <td>
                        <h5 style="color:white">Parking Lot</h5>
                    </td>

                    <td>
                        <h5 style="color:white">{{parking_lot_no}}</h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5 style="color:white">Block No</h5>
                    </td>

                    <td>
                        <h5 style="color:white">{{block_no}}</h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5 style="color:white">Floor No</h5>
                    </td>

                    <td>
                        <h5 style="color:white">{{floor_no}}</h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5 style="color:white">Parking Slot</h5>
                    </td>

                    <td>
                        <h5 style="color:white">{{parking_slot_no}}</h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5 style="color:white">Duration(in hours)</h5>
                    </td>
                    <td>
                        <form action="/reserve/{{parking_lot_no}}/{{block_no}}/{{floor_no}}/{{ parking_slot_no}}"
                              method="post" >
                            {% csrf_token %}
                            <div style="display: inline; margin-top: 30px;">
                            <input type="text" name="duration"
                                   placeholder="Please type in duration"/>
                            <br><br>
                            </div>

                            <div style="display: inline; margin-left: 30px;">
                        <span style="display: inline;"><input
                                class="flip-link btn btn-info" id="to-recover"
                                type="submit" value="Confirm"></span>
                            </div>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>


        </div>
    </div>
</div>


{% endblock %}